.app{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.topnav{
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    background-color: #98fb98;
}

.button{
    padding: 5px 15px;
    background-color: #f9f9f9;
    font-size: 15px;
    letter-spacing: 1px;
    border: 2px solid #000;
    border-radius: 3px;
    cursor: pointer;
    transition: .1s ease;
}

.button:hover{
    background: transparent;
    transition: .1s ease;
}

.graph {
    padding: 0 15px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 2px;
    background-color: azure;
}

.graphline {
    position: relative;
    width: 7px;
    height: 100%;
    background-color: #5f9ea0;
    cursor: pointer;
}

.graphline > p{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -100%) scale(0);
    font-size: 20px;
    font-weight: 600;
    z-index: 1;
    transition: .1s ease;
}

.graphline:hover > p{
    transform: translate(-50%, -100%) scale(1);
    transition: .1s ease;
}